.about-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.about-section__text {
    width: 45%;
}

.about-section__image-container {
    width: 45%;

    p {
        width: 100%;
        text-align: center;
    }
}

.about-section__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
