.company-facts-section {
    padding: 50px 100px;
    justify-items: center;
}

.company-facts-section__row {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
}

.fact {
    width: 25%;
}

.fact__icon {
    width: 50px;
}

/*.fact__heading {
    font-family: var(--site-font-family);
    font-size: var(--site-font-size);
    line-height: var(--text-body-line-height);
    color: var(--site-headings-color);
}*/

/*.fact__text {
    font-family: var(--site-font-family);
    font-size: var(--site-font-size);
    line-height: var(--text-body-line-height);
    color: var(--site-text-color);
}*/