.tabbed-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
        border-left: solid 5px var(--site-background-color);
        padding-left: 10px;
    }

    .selected-tab {
        border-left: solid 5px var(--site-primary-color);
        background-color: var(--site-primary-color-tint);
    }
}

.tabs-content {
    flex: 2;

    li {
        display: none;
    }

    div {
        padding: 10%;
    }

    img {
        width: 100%;
        border-radius: 50px;
    }

    p {
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .visible-content {
        display: block;
    }
}
